header.header
    header__top
        .container
            .contacts 
                a.contact(href="tel:+38073692351")
                    i.fa.fa-mobile(aria-hidden="true")
                    span.contact__text 6337 3112

                a.contact(href="mailto:info@busines.co")
                    i.fa.fa-evelope.contact__icon--email(aria-hidden="true")
                    span.contact__text info@business.co

                a.facebook-icon(href="facebook.com")
                    i.fa.fa-facebook(area-hidden="true")
    .container
        .header__bottom
            .logo: img.logo__picture(src="images/logo.png" alt="picture")