header.header
    header__top
        .container
            .contacts 
                a.contact(href="tel:+38073692351")
                    i.fa.fa-mobile(aria-hidden="true")
                    span.contact__text 6337 3112
    .header__bottom