@font-face {
    font-family: "fontawesome-webfont.woff";
    src: url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/HelveticaBlack.woff") format("woff"),
    url("../fonts/HelveticaBlackItalic.woff") format("woff");
    font-weight: black;
    font-style: normal;
}